<!DOCTYPE html>
<html ng-app="twitterApp">
<head>
    <title>Twitter OAuth.io Example</title>
    <link rel="stylesheet" href="custom.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="jquery-3.1.1.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="oauth.js"></script>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
    <script src="services.js"></script>
</head>
<body>
    <div class="container text-center" ng-controller="TwitterController">
        <h1>Tweet..</h1>
        <span><i>Or rather just do it more than classic version.</i></span>
        <div class="row">
            <div>
                <textarea placeholder="What's on your mind?" id="tweetBox" rows="10" ng-model="textModel"></textarea>
            </div>
            <div>
                <button class="btn btn-lg" ng-click="connectButton()" id="connectTwitterButton">Connect to Twitter</button>
                <button class="btn btn-lg" ng-click="signOutButton()" id="signOutButton">Sign Out</button>
            </div>
        </div>
        <div>
        <div>
            <button class="btn btn-lg" id="tweetButton" ng-click="postTweet()">Tweet</button>
            <button class="btn btn-lg" id="previewButton" ngclick="previewTweet()">Preview</button>
        </div>
        </div>
        <div>
            You are limited with
        </div>
        <div>
             {{700- textModel.length}} words.
        </div>
        <div>
            <div>{{textHere}}</div>
            <div>{{textThere}}</div>
        </div>
    </div>
</body>
</html>